#menu_from_button{
  position: absolute;
  right: 0;
  display: flex;
  width: 0px;
  height: 48px;
  border-radius: 24px;
  background: #1F1F1F;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity .7s ease-out;
}

.check:before{
  position: absolute;
  content: '';
  top: 3px;
  left: 4px;
  background: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: transform .3s ease-in;
}

input[type="checkbox"]{
  display: none;
  visibility: hidden;
}

.check{
  position: relative;
  display: block;
  width: 56px;
  height: 32px;
  background: #282828;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 4px;
  transition: background .3s ease-in;
  overflow: hidden;
  transition: opacity .2s ease-out;
}

input[type="checkbox"]:checked ~ .check{
  background: #ffffff;
}

input[type="checkbox"]:checked ~ .check:before{
  transform: translateX(-37px);
}

.check:after{
  position: absolute;
  content: '';
  top: 3px;
  right: 4px;
  background: #1f1f1f;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: transform .3s ease-in;
  transform: translateX(37px);

}

input[type="checkbox"]:checked ~ .check:after{
  transform: translateX(0px);
}