*{
  transition: background-color .5s ease-out;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0; 
  background: #353535;
  width: 100%;
  overflow: hidden;
}

#file{
  display: none;
}

.site{
  height: 100vh;
  display: grid;
  grid-template-rows: 9vh 85vh 6vh;
  overflow: hidden;
}

.covered_image{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*---------FORM------------*/

.main_form{
  background: #282828;
  width: 30vw;
  height: 100px;
  margin: 0 auto;
  border-radius: 20px;
}


/*--------BUTTONS---------*/
.settings{
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: 50%;
  vertical-align: center;
  padding: 0;
}
.menu_button{
  background: transparent;
  border: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  vertical-align: center;
  padding: 0;
  text-align: center;
  transition: background-color .2s linear;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation-iteration-count: infinite;
  position: relative;
}
.menu_button:hover{
  background-color: #1F1F1F;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.settings_button:hover svg{
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


/*--------HEADER---------*/
header{
  background: #282828;
  color: white;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
}

.header_title{
  display: flex;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.header_buttons{
  display: flex;
  align-items: center;
}


.header_project-name a{
  text-decoration: none;
  color: white;
  transition: color .2s linear;
}


.header_project-name a:hover{
  text-decoration: none;
  color: #2ecc71;
  animation: hue 2s linear infinite backwards;

}








/*---------MAIN-----------*/

::-webkit-scrollbar {
    width: 1px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.scrollable{
  height: 85vh;
  padding-right: 20px;
  overflow-y: scroll; 
  overflow-x: hidden;
}



.copy_notif{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #202124;
  z-index: -1;
  border-radius: 3px;
  color: #e7e7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  font-size: 200px;
  font-family: 'Roboto', sans-serif;
}

.copy_notif span{
  padding: 0px 40px;
  background: linear-gradient(to right, #50505011, #5050508c, #50505011);
  border-radius: 1em;
  color: #fff;
}


main{
  background: #1F1F1F;
  width: 100%;
  display: flex;
  justify-content: right;
}

.zoom{
  max-width: 100%;
  align-items: center;

}

#colors{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, minmax(90px, 200px));
  grid-auto-rows: 200px;
  overflow-y: none;
  overflow-x: none;
}

.color_text{
  display:inline;
  opacity: 0;
  transition: opacity .2s linear;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #1f1f1f66;
  padding: 4px;
}

.color{
  display:flex;
  align-items:flex-end;
  text-align: right;
  margin: 0;
  padding: 0;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out, border-radius .2s;
  color: white;
}
.color:nth-child(1){
  grid-column: 1/3;
  transition: background-color .2s ease-in-out forwards;
}
.color:nth-child(1):hover{
  border-radius: 0px;

}

.color:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 5px #202020;
  
}

.color:hover .color_text{
  opacity: 1;
}

.color:hover .color_text{
  background: #18770066;
  animation: hue 2s linear infinite backwards;
}


/*--------FOOTER---------*/
footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background: #282828; 
  color: #fff;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
}
footer a{
  height: 4vh;
  width: 4vh;
}

.footer_info{
  display: flex;
  align-items:center;
}

.footer_links{
  width: 10vw;
  display: flex;
  justify-content: space-between;
}


.github-logo{
  height: 4vh;
}

.github-logo > path {
  transition: fill .2s linear;
}

.github-logo:hover path{
  fill: #b9b9b9;
}

.frontend-dev-logo:hover path{
    fill: #198dc8;
}

.backend-dev-logo:hover path{
    fill: #198dc8;
}